<div class="animate-pulse flex flex-col">
    <div class="card w-full bg-base-300 dark:bg-slate-700 text-center card-compact py-0 z-[1]">
        <div class="card-body !py-2 !px-1">
            <div class="card-title flex w-full !mb-0">
                <label class="btn btn-ghost btn-small btn-disabled">
                    <span class="loading loading-spinner text-warning"></span>
                    <h1 class="flex-auto prose dark:prose-invert prose-2xl text-left normal-case">Inbox</h1>
                </label>
            </div>
        </div>
    </div>
</div>

@for (int i = 0; i < 5; i++)
{
    <div class="animate-pulse flex flex-col" style="animation-delay:@(i * 300)ms">
        <div class="card w-full bg-base-300 dark:bg-slate-7000 text-center card-compact py-0 my-2 hover:bg-slate-900 transition-colors">
            <div class="card-body h-12 !py-1 w-full flex flex-row align-middle items-center"></div>
        </div>
    </div>
}