<div class="py-4 w-full text-center text-slate-600 opacity-30 dark:opacity-100 prose prose-xs">
    <div class="my-2">
        <kbd class="kbd kbd-sm">Alt</kbd>
        &plus;
        <kbd class="kbd kbd-sm">N</kbd>
        to create.
    </div>
    <div class="my-2 flex items-end justify-center">
        <kbd class="kbd kbd-sm">◀︎</kbd>
        <div class="join join-vertical">
            <kbd class="kbd kbd-sm join-item">▲</kbd>
            <kbd class="kbd kbd-sm join-item">▼</kbd>
        </div>
        <kbd class="kbd kbd-sm mr-2">▶︎</kbd>
        to navigate.
    </div>
    <div class="my-2">
        <kbd class="kbd kbd-sm">Enter</kbd>
        &times;
        <kbd class="kbd kbd-sm">2</kbd>
        to Save.
    </div>
    <div class="my-2">
        <kbd class="kbd kbd-sm">Enter</kbd>
        or
        <kbd class="kbd kbd-sm">Space</kbd>
        to Select.
    </div>
    <div class="my-2">
        <kbd class="kbd kbd-sm">Tab</kbd>
        to Focus.
    </div>
    <div class="my-2">
        <kbd class="kbd kbd-sm">Backspace</kbd>
        or
        <kbd class="kbd kbd-sm">Delete</kbd>
        to Trash.
    </div>
    <div class="my-2">
        <kbd class="kbd kbd-sm">Esc</kbd>
        to cancel.
    </div>
</div>