@inject Supabase.Client Supabase

@if (Supabase.Auth.CurrentUser != null)
{
    <div class="w-full stack">
        <div class="card card-compact shadow-lg">
            <div class="card-body">
                <p>@Supabase.Auth.CurrentUser.Email</p>
                <p>@Supabase.Auth.CurrentUser.Id</p>
            </div>
            <div class="card-actions justify-end">
                <button type="button" @onclick="HandleLogout">
                    <div class="badge badge-danger">Logout</div>
                </button>
            </div>
        </div>
    </div>
}

@code {
    async void HandleLogout()
    {
        await Supabase.Auth.SignOut();
    }
}