<div class="py-4 w-full text-center text-slate-600 prose prose-xs">
    <div class="my-2">
        Press
        <kbd class="kbd kbd-sm">ctrl</kbd>
        &plus;
        <kbd class="kbd kbd-sm">N</kbd>
        to create.
    </div>
    <div class="my-2">
        Press
        <kbd class="kbd kbd-sm">Enter</kbd>
        &times;
        <kbd class="kbd kbd-sm">2</kbd>
        to save.
    </div>
    <div class="my-2">
        <kbd class="kbd kbd-sm">▲</kbd>
        and
        <kbd class="kbd kbd-sm">▼</kbd>
        to navigate.
    </div>
    <div class="my-2">
        <kbd class="kbd kbd-sm">esc</kbd>
        to cancel.
    </div>
</div>