<footer class="footer sm:px-4 sm:py-8 py-1 bg-base-300 dark:bg-neutral dark:text-neutral-content sm:justify-end justify-center">
    <div class="flex items-center prose-sm">
        <div class="footer-title my-0 leading-4 prose-a:text-blue-700 dark:prose-a:text-blue-300">
            Made by <a href="https://github.com/acupofjose">@@acupofjose</a>
        </div>
        <div>
            <a href="https://github.com/acupofjose/supasharptodo">
                <img src="icons/github-white.png" class="h-4 w-4"/>
            </a>
        </div>
    </div>
</footer>