<div class="card w-full bg-base-300 shadow-lg dark:bg-neutral text-center card-compact py-0">
    <div class="card-body py-0">
        <div class="card-title justify-center">
            <h1 class="prose dark:text-white prose-xl">You must be logged-in before continuing.</h1>
        </div>
        <div class="card-content">
            <div class="stack mt-4">
                <GithubLoginButton/>
            </div>
        </div>
    </div>
</div>