name: Publish to Github Pages

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x

      - name: Install .NET WASM Build Tools
        run: dotnet workload install wasm-tools

      - name: Build Node Resources
        run: npm install && npm run build:tailwind:wasm

      - name: Publish .NET Core Project
        run: dotnet publish SupasharpTodo.BlazorWASM/SupasharpTodo.BlazorWASM.csproj -c release /p:APP_TASKS=prerender -o /out --no-restore

      - name: Commit wwwroot to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: /out/wwwroot
